.main-wrapper {
  background-color: #ecf1f9;
  padding: 0 12px;
  min-width: 320px;
  max-width: 480px;
  margin: 0 auto;
}

.toolbar {
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__aside-controls *:last-child {
    margin-left: 16px;
  }
}