<div class="menu-home">
  <div class="controls-wrapper">
    <button type="button" mat-stroked-button class="add-section">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Раздел</span>
    </button>
    <button type="button" mat-stroked-button class="add-item">
      <mat-icon>add_circle_outline</mat-icon>
      <span>Позиция</span>
    </button>
  </div>

  <div class="menu">
    <div class="empty-menu">
      <svg class="empty-menu__icon">
        <use xlink:href="#icon-empty-menu"/>
      </svg>
      <div class="empty-menu__message">
        Добавьте в новое меню разделы и позиции
      </div>
    </div>
  </div>
</div>
