<div class="section">
  <div class="title-row">
    <h2 class="title">Добавить раздел</h2>
    <a [routerLink]="['/menu']">Отмена</a>
  </div>

  <form>
    <div class="form-group">
      <label class="form-label">Название</label>
      <input type="text" class="form-control" placeholder="Введите название категории" />
    </div>

    <div class="form-group">
      <label class="form-label">Раздел</label>
      <select class="form-control">
        <option *ngFor="let section of allSections" [value]="section">{{ section }}</option>
      </select>
    </div>
  </form>

  <button mat-flat-button class="save-button" color="primary">
    Сохранить
  </button>
</div>
