@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  background-color: #e5e5e5;
}

a {
  color: #409bef;
  cursor: pointer;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.form-label {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 8px;
}

.form-control {
  font-size: 14px;
  border: 1px solid #c3cee0;
  background: #ffffff;
  min-height: 48px;
  box-sizing: border-box;
  overflow: hidden;
  width: 100%;
  padding: 15px 12px;
  border-radius: 6px;
}
